.bg{
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #262335bb;
}
.modal-window {
  min-width: 40vw;
  border: 2px solid var(--main-bg-dark);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.window-body-modal {
  background-color: var(--main-bg-light);
  padding: 4px;
  color: var(--white);
  height: fit-content;
}
